@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

:root {
  /* color and font variables */
  --primary-bg-color: black;
  --secondary-bg-color: grey;
  --text-color: white;
  --accent-color: #d2691e;
  --font-primary: "Varela Round", sans-serif;
  --font-secondary: "Raleway", sans-serif;
}

html {
  font-size: larger;
}

body {
  margin: 0;
  font-family: var(--font-primary) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to left,
    var(--primary-bg-color),
    var(--primary-bg-color)
  );
}

p {
  font-size: 1.2em;
}

h1 {
  font-size: 2.5em;
  color: var(--text-color);
}
h2 {
  font-size: 1.6em;
  color: var(--text-color);
}

.center-aligned-div {
  color: var(--text-color);
  padding-top: 100px;
  text-align: center;
}

/*  Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: var(--primary-bg-color);
  background-image: url(./Assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/*Scrollbar   */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
  border-radius: 5px;
}

/* Home section */
.wave {
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.home-header {
  color: var(--text-color);
  padding-top: 80px;
}

.Typewriter__wrapper {
  font-size: 2.5em;
}

.Typewriter__cursor {
  font-size: 2.5em;
  color: var(--accent-color);
}

/* Projects */

.project-card {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
  height: auto;
}

.project-card-view {
  border: 4px solid var(--secondary-bg-color);
  color: var(--text-color);
  background-color: transparent !important;
  transition: all 0.5s ease 0s;
  height: 100%;
  text-align: center;
  border: 2px solid var(--primary-bg-color) !important;
}

.project-card-view:hover {
  overflow: hidden;
}

.project-title {
  display: inline-block;
  font-size: 1.3em;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 4px solid var(--accent-color);
}

.project-video {
  height: auto;
  width: "100%";
  border-radius: 10px;
}

.project-img {
  border-radius: 10px;
}

/* Skills */

.tech-icons {
  font-size: 4em;
  margin: 15px;
}

.tech-icons i {
  color: var(--text-color);
}

.links {
  padding-inline-start: 0;
  margin-bottom: 50px;
}

.icons {
  display: inline-block;
  margin: 10px;
}

.icons-dtls {
  position: relative;
  padding: 8px;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  background: var(--text-color);
  border-radius: 5px;
  transition: 0.5s;
  color: var(--primary-bg-color);
}

.icons-dtls:hover {
  color: var(--accent-color);
}

.resume {
  padding-top: 10px;
  padding-bottom: 50px;
  color: var(--text-color);
}

.resume-left {
  padding-right: 80px !important;
}

.resume-right {
  padding-left: 80px !important;
}

.resume .resume-item {
  padding: 0 0 10px 25px;
  text-align: center;
  border-left: 2px solid var(--secondary-bg-color);
  position: relative;
}

.resume-title {
  padding: 4px 11px;
  display: inline-block;
  margin-bottom: 30px;
  border-bottom: 4px solid var(--accent-color);
}

.resume .resume-item ul {
  padding-left: 20px;
  text-align: left;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
  list-style: none;
  font-size: 1.2em;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--text-color);
  border: 2px solid var(--secondary-bg-color);
}

.slideimg {
  transition: all 0.5s ease 0s;
  height: 250px;
}

.slideimg:hover {
  transform: scale(1.04);
  overflow: hidden;
}
/* Adjusting style for mobiles */

@media (max-width: 767px) {
  html {
    font-size: medium;
  }

  .Typewriter__wrapper {
    font-size: 1.5em;
    position: absolute;
  }

  .Typewriter__cursor {
    display: none;
  }

  .resume-left {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .resume-right {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .project-video {
    height: 350px;
  }

  .project-img {
    width: 320px;
  }
}

/* Adjusting style for tablets */

@media (min-width: 768px) and (max-width: 1024px) {
  .Typewriter__wrapper {
    font-size: 1.5em;
    position: absolute;
  }

  .Typewriter__cursor {
    display: none;
  }

  .project-video {
    height: 450px;
  }

  .project-img {
    width: 400px;
  }
}
